# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production build
/dist
/.next
/out

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.idea
.vscode
*.swp
*.swo

# refine devtools (optional if you don’t want devtools logs tracked)
.refine

# typescript
*.tsbuildinfo